
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.gray1{
    color: rgba(137, 135, 161, 1);
}

.orange1{
    color: rgba(233, 90, 8, 1);
}

.black1{
    color: rgba(0, 0, 0, 0.5);
}

.font22{
    font-size: 1.375rem;
}

.primary-btn{
    background-color: rgba(233, 90, 8, 1);
    color: white;
    height: 50px;
    font-weight: 600;
    border: none;

}

/* navbar styles */


nav{
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    align-items: center;
    margin: 30px auto;
    
}
.logo img{
    width: 10vw;
}
.nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}
.nav ul li a{
    text-decoration: none;
    margin-left: 48px;
    /* color: black; */
}

.nav .home {
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
}
.nav .shop a , .about-us a{
    color: rgba(137, 135, 161, 1);
}
.nav .cart a{
    display: flex;
    align-items: center;
    gap: 2px;
    color: rgba(0, 0, 0, 1);
}
.nav ul img{
    height: 24px;
    width: 24px;
}

/* banner styles */

.hero{
    display: flex;
    /* justify-content: center; */
    max-width: 80vw;
    align-items: end;
    margin: 100px auto;
}

.banner{
    width: 100%;
    height: 65%;
    padding-bottom: 0px;
}

.banner-title{
    font-weight: 700;
    font-size: 4.0625rem;
    margin-bottom: 10px;
}
.banner-description{
    padding-bottom: 0px;
    margin: 0px;
}
.hero-image img{
    width: 39.58vw;
    height: 77%;
}

/* plants section */
.plants{
    width: 80vw;
    margin: 120px auto;
}
.plants h3{
    font-weight: 700;
    font-size: 3.125rem;
    margin-bottom: 16px;
}
.plant-intro{
    text-align: center;
}
.plants-description{
    width: 77%;
    margin: 0 auto;
}

/* plants card section */

.plants-card{
    display: grid;
    grid-template-columns: repeat( 4 , 1fr);
    margin: 49px auto;
    width: 80vw;
}
.card{
    margin-bottom: 30px;
}
.card img{
    width: 18.75vw;
    column-gap: 1.38vw;
}
.card h5{
    text-align: center;
    font-size: 1.375rem;
}
.card .name{
    font-weight: 500;
    margin-bottom: 20px;

}
.card .price{
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    color: rgba(17, 17, 17, 1);
}
.card button{
    width: 94%;
    text-align: center;
    margin-top: 0;
}

@media screen and (max-width:576px) {
    .nav ul .home , .shop , .about-us{
        display: none;
    }
    .hero{
        margin-top: 28px;
        flex-direction: column-reverse;
    }
    .hero-image img{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    .banner-title{
        font-size: 24px;
    }
    .banner-description{
        font-size: 14px;
    }
    .plants-card{
        grid-template-columns: repeat(2 , 1fr);
    }
    .card img{
        width: 37vw;
    }
    .card .name{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .card .price{
        font-size: 16px;
        color: rgba(17, 17, 17, 1);
        margin-top: 0;
    }
}